<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game&Watch Collection</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img class="titleBgImg" src="/img/parachute header left.png" alt ="Gameplay  parachute">
        <div class="siteTitle">
            <h1>MA COLLECTION DE</h1>
            <img class="titleLogo" src="/img/gwlogo.svg" alt ="Logo des Game and Watch">
        </div>
        <img class="titleBgImg" src="/img/parachute header right.png" alt ="Gameplay  parachute">
    </header>
    <main>
        <nav class="mainnav">
            <a href="/">
            <h2>Accueil</h2>
            </a>
            <a href="/collection/">
            <h2>Collection</h2>
            </a>
            <a href="/repair/">
            <h2>Tutos reparations</h2>
            </a>
        </nav>