:root{
    --main-bg-color:rgba(80, 80, 80, 0.205);
    --main-title-color:rgb(109, 6, 20);
}

body{
    font-family:'sans-serif';
    background-color: var(--main-bg-color);
}

/* Banniere titre principale*/

header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding: 2rem;
    border-bottom: 2px var(--main-title-color) solid;
}
header img{
    padding-left: 1rem;
    height: 6rem;
}

h1{
    margin-left: 40px;
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-title-color);
}

/* Navbar principale */
.mainnav{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: left;
    border-bottom: 2px var(--main-title-color) solid;
    padding-left: 5rem;
}
.mainnav a{
    padding: 0.6rem;
}

/* 404 de base*/
.error{
    text-align: center;
    padding: 2rem;
}

.error img{
    padding: 2rem;
}


/* Page simple avec un element */
#enter-Btn{
    text-align: center;
}
#enter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    color: var(--main-title-color);
}

#enter img{
    height: 18rem;
    margin: auto;
}

/* modele details page */

.modele_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.unit_photos{
    width: 23vw;
    display: flex;
    flex-direction: column;
}

.unit_description{
    width: 50vw;

}
.unit_description h2{
    text-align: center;

}

.details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--main-title-color);
    justify-content: space-between;
}



/* main pour la collection en images larges */

.layout_large{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 3rem;
    row-gap: 1rem;

}
.GW_card{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 24rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.3rem;

}
.GW_card:hover{
    border: 1px var(--main-title-color) solid;
}

h2{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--main-title-color);
}
.Silver img{
    height:12rem;
    margin-bottom: 0.5rem;
}
.Widescreen img{   
    height:13rem;
    margin-bottom: 0.5rem;
}
.MultiScreen img{
    height: 13rem;
    margin-bottom: 0.5rem;
}
.MultiScreen_book img{
    height: 19rem;
    margin-bottom: 0.5rem;
}
