:root{
    --main-bg-color:rgba(118, 118, 118, 0.205);
    --main-title-color:rgb(109, 6, 20);
}

body{
    font-family:'sans-serif';
    background-color: var(--main-bg-color);
}

/* Banniere titre principale*/

header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    border-bottom: 2px var(--main-title-color) solid;
}
.titleBgImg{
    height: 12rem;
}
.titleLogo{
    height: 6rem;
}
.siteTitle{    
    display: flex;
    flex-direction: row;
    align-items:center;
}

.siteTitleText{
    padding-left: 1rem;
}

h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--main-title-color);
}

/* Navbar principale */
.mainnav{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: left;
    border-bottom: 2px var(--main-title-color) solid;
    padding-left: 5rem;
}
.mainnav a{
    padding: 0.6rem;
}

/* 404 de base*/
.error{
    text-align: center;
    padding: 2rem;
}

.error img{
    padding: 2rem;
}


/* Page simple avec un element */
#enter-Btn{
    text-align: center;
}
#enter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    color: var(--main-title-color);
}

#enter img{
    height: 18rem;
    margin: auto;
}

/* modele details page */

.modele_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem ;
    
}

.unit_photos{
    width: 23vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    border-top: 2px var(--main-title-color) solid;
    border-right: 2px var(--main-title-color) solid;
    border-bottom: 2px var(--main-title-color) solid;
}

.unit_description{
    width: 50vw;
    padding: 1rem;
    gap: 1rem;
    border: 2px var(--main-title-color) solid;
}
.unit_description h2{
    text-align: center;

}

.details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--main-title-color);
    justify-content: center;
    gap: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



/* main pour la collection en images larges */

.collectionnav{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: left;
    border-bottom: 2px var(--main-title-color) solid;
    padding-left: 6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}


.layout_large{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-column-gap: 10px;
    grid-auto-flow: rows;
    margin-left: 3rem;
}

.category{
    margin: 1.3rem 5rem;
}

.GW_card{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 24rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.3rem;

}
.GW_card:hover{
    border: 1px var(--main-title-color) solid;
}

h2{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--main-title-color);
}

.missing{
    width: 18rem;
    color: white;
    background-color: lightgrey;
    height: 12rem;
    border-radius: 10px;
    min-height: 12rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    display: grid;
    place-items: center;
}

.unit_photos .missing{
    margin:auto;
}

.Silver img, .Gold img{
    height:12rem;
    margin-bottom: 0.5rem;
}
.Widescreen img{   
    height:13rem;
    margin-bottom: 0.5rem;
}
.New_widescreen img{   
    height:13rem;
    margin-bottom: 0.5rem;
}
.Reedition img{   
    height:13rem;
    margin-bottom: 0.5rem;
}
.Multiscreen img{
    height: 13rem;
    margin-bottom: 0.5rem;
}
.Multiscreen_book img{
    height: 19rem;
    margin-bottom: 0.5rem;
}
