<%- include('partials/header') %>
        <a id="enter-Btn" href="/collection">
            <div id="enter">
              <img src="/img/octopus.png" alt ="Sprite de pieuvre">
              <h2>Vite! Passe sous les tentacules !!</h2>
            </div>
        </a>
    </main>
</body>
</html>